*.c     text linguist-language=C
*.h     text linguist-language=C 
*.1     text linguist-language=Assembly
*.2     text linguist-language=Assembly
*.3     text linguist-language=Assembly
*.bin   binary 
*.sys   binary 
*.md    text diff=Markdown linguist-language=Markdown
