*.c     text diff=c linguist-language=c
*.h     text diff=c linguist-language=c 
*.1     text diff=asm linguist-language=asm 
*.2     text diff=asm linguist-language=asm 
*.3     text diff=asm linguist-language=asm 
*.bin   binary 
*.sys   binary 
*.md    text diff=md linguist-language=md 
