*.c     text diff=c linguist-language=c
*.h     text diff=c linguist-language=c 
*.1     text diff=assembly linguist-language=assembly 
*.2     text diff=assembly linguist-language=assembly 
*.3     text diff=assembly linguist-language=assembly 
*.bin   binary 
*.sys   binary 
*.md    text diff=md linguist-language=md 
